[Unit]
Description=Code Server OpenSSH Server

[Container]
Image=docker.io/linuxserver/openssh-server:latest
AutoUpdate=registry
Pod=code-server.pod
EnvironmentFile=/etc/containers/systemd/env/code-server.env
SecurityLabelDisable=true

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

