[Unit]
Description=Code Server

[Container]
Image=lscr.io/linuxserver/code-server:latest
AutoUpdate=registry
SecurityLabelDisable=true
Pod=code-server.pod
EnvironmentFile=/etc/containers/systemd/env/code-server.env

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

