[Unit]
Description=Dispatcharr Celery
Requires=dispatcharr-redis.service dispatcharr-postgres.service

[Container]
Image=ghcr.io/dispatcharr/dispatcharr:latest
AutoUpdate=registry
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/containers/systemd/volume-data/dispatcharr-celery.container/etc/services:/etc/services:ro
Network=end0_vlan.network
Network=plex-media-server.network
Network=dispatcharr.network
SecurityLabelDisable=true
HostName=dispatcharr-celery
Entrypoint=/usr/bin/bash -c "cd /apps && nice -n 5 && celery -A dispatcharr worker -l info"
EnvironmentFile=/etc/containers/systemd/env/dispatcharr-celery.container.env

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

