[Unit]
Description=Grafana

[Container]
Image=docker.io/grafana/grafana-enterprise:latest
AutoUpdate=registry
SecurityLabelDisable=true
Volume=/mnt/md0/grafana:/var/lib/grafana
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/containers/systemd/volume-data/grafana.container/etc/services:/etc/services:ro
Network=end0_vlan.network
Network=prometheus.network
HostName=grafana

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
