[Unit]
Description=Home Assistant

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry
Volume=home-assistant-config.volume:/config
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/dbus:/run/dbus:ro
Volume=/etc/containers/systemd/volume-data/home-assistant.container/etc/services:/etc/services:ro
Volume=/etc/containers/systemd/volume-data/home-assistant.container/etc/container-dns/txt:/etc/container-dns/txt:ro
AddCapability=NET_ADMIN NET_RAW
AddDevice=/dev/ttyUSB0:rw
Network=end0_vlan.network
SecurityLabelDisable=true
HostName=home-assistant

[Service]
TimeoutStartSec=900
Restart=always
ExecStartPre=/bin/bash -c 'HACS_DIR=/var/lib/containers/storage/volumes/systemd-home-assistant-config/_data/custom_components/hacs; if [ ! -d "$HACS_DIR" ]; then mkdir -p "$HACS_DIR" && curl -fsSL -o /tmp/hacs.zip https://github.com/hacs/integration/releases/latest/download/hacs.zip && unzip -q /tmp/hacs.zip -d "$HACS_DIR" && rm /tmp/hacs.zip; fi'

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

