[Unit]
Description=Home Assistant

[Container]
Image=ghcr.io/home-assistant/home-assistant:stable
AutoUpdate=registry
Volume=home-assistant-config.volume:/config
Volume=/etc/localtime:/etc/localtime:ro
Volume=/run/dbus:/run/dbus:ro
Volume=/etc/containers/systemd/volume-data/home-assistant.container/etc/services:/etc/services:ro
AddCapability=NET_ADMIN NET_RAW
AddDevice=/dev/ttyUSB0:rw
Network=end0_vlan.network
SecurityLabelDisable=true
HostName=home-assistant

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

