[Unit]
Description=Immich Postgres

[Container]
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
AutoUpdate=registry
Volume=immich-postgres-data.volume:/var/lib/postgresql/data
EnvironmentFile=/etc/containers/systemd/env/immich.env
ShmSize=128m
Network=immich.network

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
