[Unit]
Description=Immich Server
Requires=immich-redis.service immich-machine-learning.service immich-postgres.service

[Container]
Image=ghcr.io/immich-app/immich-server:release
AutoUpdate=registry
EnvironmentFile=/etc/containers/systemd/env/immich.env
SecurityLabelDisable=true
Pod=immich-server.pod
HealthCmd=curl -fsS --max-time 3 http://localhost:2283/api/server/ping
HealthStartPeriod=120s
HealthInterval=30s
HealthTimeout=5s
HealthRetries=3
HealthOnFailure=kill

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

