[Unit]
Description=Lidarr

[Container]
Image=lscr.io/linuxserver/lidarr:latest
AutoUpdate=registry
Volume=/mnt/md0/media:/mnt/media
Volume=/etc/localtime:/etc/localtime:ro
Volume=lidarr-config.volume:/config
Volume=/mnt/md0/media/music:/music
Volume=/mnt/md0/media/downloads/arr:/downloads
Network=end0_vlan.network
Network=plex-media-server.network
Network=arr.network
SecurityLabelDisable=true
Environment=PUID=1000
Environment=PGID=1000
HostName=lidarr

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

