[Unit]
Description=Prowlarr

[Container]
Image=lscr.io/linuxserver/prowlarr:latest
AutoUpdate=registry
Volume=/etc/localtime:/etc/localtime:ro
Volume=prowlarr-config.volume:/config
Volume=/etc/containers/systemd/volume-data/prowlarr.container/etc/services:/etc/services:ro
Network=end0_vlan.network
Network=arr.network
Environment=PUID=1000
Environment=PGID=1000
HostName=prowlarr

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

