[Unit]
Description=Sonarr

[Container]
Image=lscr.io/linuxserver/sonarr:latest
AutoUpdate=registry
Volume=/mnt/md0/media:/mnt/media
Volume=/etc/localtime:/etc/localtime:ro
Volume=sonarr-config.volume:/config
Volume=/mnt/md0/media/tv-shows:/tv-shows
Volume=/mnt/md0/media/downloads/arr:/downloads
Volume=/etc/containers/systemd/volume-data/sonarr.container/etc/services:/etc/services:ro
Network=end0_vlan.network
Network=plex-media-server.network
Network=arr.network
SecurityLabelDisable=true
Environment=PUID=1000
Environment=PGID=1000
HostName=sonarr

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

