[Unit]
Description=yarr

[Container]
# To build the container run:
#   git clone https://github.com/nkanaev/yarr.git
#   cd yarr
#   git checkout <latest release>
#   podman build -t yarr:latest -f etc/dockerfile .
Image=localhost/yarr:latest
AutoUpdate=local
Volume=/etc/localtime:/etc/localtime:ro
Volume=yarr-data.volume:/data
Volume=/etc/containers/systemd/volume-data/yarr.container/etc/services:/etc/services:ro
Network=end0_vlan.network
EnvironmentFile=/etc/containers/systemd/env/yarr.env
HostName=yarr

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target

