[Unit]
Description=Youtarr
Requires=youtarr-db.service

[Container]
Image=docker.io/dialmaster/youtarr:latest
AutoUpdate=registry
Volume=/etc/localtime:/etc/localtime:ro
Volume=/etc/containers/systemd/volume-data/youtarr.container/etc/services:/etc/services:ro
Volume=/mnt/md0/media/youtube:/usr/src/app/data
Volume=/etc/containers/systemd/volume-data/youtarr.container/app/config:/app/config
Volume=youtarr-jobs.volume:/app/jobs
Volume=youtarr-server-images.volume:/app/server/images
Network=end0_vlan.network
Network=youtarr.network
Network=plex-media-server.network
SecurityLabelDisable=true
HostName=youtarr
EnvironmentFile=/etc/containers/systemd/env/youtarr.env

[Service]
TimeoutStartSec=900
Restart=always

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
